EntitiesEnrichment/UserEnrichment.template.json
{
	"$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"logicAppName": {
			"defaultValue": "UserEnrichment",
            "type": "string",
			"metadata": {
				"description": "The name of the logic app to create."
			}
		},
        "servicePrincipal": {
            "type": "secureObject"
        },
		"location": {
			"type": "string",
			"defaultValue": "[resourceGroup().location]",
			"metadata": {
				"description": "Location for all resources."
			}
		}
	},
	"variables": {},
	"resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "tags": {
                "Owner": "semolend"
            },
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "servicePrincipal": {
                            "type": "secureobject",
                            "defaultValue": "[parameters('servicePrincipal')]"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {                        
                        
                        "Initialize_adminRoles": {
                            "runAfter": {
                                "Initialize_inboxRules": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "adminRoles",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_devices": {
                            "runAfter": {
                                "Parse_trigger": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "devices",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_inboxRules": {
                            "runAfter": {
                                "Initialize_devices": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "inboxRules",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_ssprActivities": {
                            "runAfter": {
                                "Initialize_adminRoles": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ssprActivities",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "AAD_Objects": {
                            "actions": {
                                "Get_user_owned_objects": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/ownedObjects "
                                    }
                                },
                                "Parse_owned_objects": {
                                    "runAfter": {
                                        "Get_user_owned_objects": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_owned_objects')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "@@odata.type": {},
                                                            "addIns": {
                                                                "type": "array"
                                                            },
                                                            "api": {
                                                                "properties": {
                                                                    "acceptMappedClaims": {},
                                                                    "knownClientApplications": {
                                                                        "type": "array"
                                                                    },
                                                                    "oauth2PermissionScopes": {
                                                                        "type": "array"
                                                                    },
                                                                    "preAuthorizedApplications": {
                                                                        "type": "array"
                                                                    },
                                                                    "requestedAccessTokenVersion": {},
                                                                    "resourceSpecificApplicationPermissions": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "appId": {},
                                                            "appRoles": {
                                                                "type": "array"
                                                            },
                                                            "applicationTemplateId": {},
                                                            "classification": {},
                                                            "createdByAppId": {},
                                                            "createdDateTime": {},
                                                            "deletedDateTime": {},
                                                            "description": {},
                                                            "displayName": {},
                                                            "expirationDateTime": {},
                                                            "groupMembershipClaims": {},
                                                            "groupTypes": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "id": {},
                                                            "identifierUris": {
                                                                "type": "array"
                                                            },
                                                            "info": {
                                                                "properties": {
                                                                    "logoUrl": {},
                                                                    "marketingUrl": {},
                                                                    "privacyStatementUrl": {},
                                                                    "supportUrl": {},
                                                                    "termsOfServiceUrl": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "isAssignableToRole": {},
                                                            "isAuthorizationServiceEnabled": {},
                                                            "isDeviceOnlyAuthSupported": {},
                                                            "isFallbackPublicClient": {},
                                                            "keyCredentials": {
                                                                "type": "array"
                                                            },
                                                            "mail": {},
                                                            "mailEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "mailNickname": {},
                                                            "membershipRule": {},
                                                            "membershipRuleProcessingState": {},
                                                            "onPremisesDomainName": {},
                                                            "onPremisesLastSyncDateTime": {},
                                                            "onPremisesNetBiosName": {},
                                                            "onPremisesProvisioningErrors": {
                                                                "type": "array"
                                                            },
                                                            "onPremisesSamAccountName": {},
                                                            "onPremisesSecurityIdentifier": {},
                                                            "onPremisesSyncEnabled": {},
                                                            "optionalClaims": {},
                                                            "orgRestrictions": {
                                                                "type": "array"
                                                            },
                                                            "parentalControlSettings": {
                                                                "properties": {
                                                                    "countriesBlockedForMinors": {
                                                                        "type": "array"
                                                                    },
                                                                    "legalAgeGroupRule": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "passwordCredentials": {
                                                                "items": {
                                                                    "properties": {
                                                                        "customKeyIdentifier": {},
                                                                        "displayName": {},
                                                                        "endDateTime": {},
                                                                        "hint": {},
                                                                        "keyId": {},
                                                                        "secretText": {},
                                                                        "startDateTime": {}
                                                                    },
                                                                    "required": [],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "preferredDataLocation": {},
                                                            "preferredLanguage": {},
                                                            "proxyAddresses": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "publicClient": {
                                                                "properties": {
                                                                    "redirectUris": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "publisherDomain": {},
                                                            "renewedDateTime": {},
                                                            "requiredResourceAccess": {
                                                                "items": {
                                                                    "properties": {
                                                                        "resourceAccess": {
                                                                            "items": {
                                                                                "properties": {
                                                                                    "id": {},
                                                                                    "type": {}
                                                                                },
                                                                                "required": [],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "resourceAppId": {}
                                                                    },
                                                                    "required": [],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "resourceBehaviorOptions": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "resourceProvisioningOptions": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "securityEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "securityIdentifier": {},
                                                            "signInAudience": {},
                                                            "spa": {
                                                                "properties": {
                                                                    "redirectUris": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tags": {
                                                                "type": "array"
                                                            },
                                                            "theme": {},
                                                            "tokenEncryptionKeyId": {},
                                                            "verifiedPublisher": {
                                                                "properties": {
                                                                    "addedDateTime": {},
                                                                    "displayName": {},
                                                                    "verifiedPublisherId": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "visibility": {},
                                                            "web": {
                                                                "properties": {
                                                                    "homePageUrl": {},
                                                                    "implicitGrantSettings": {
                                                                        "properties": {
                                                                            "enableAccessTokenIssuance": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "enableIdTokenIssuance": {
                                                                                "type": "boolean"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "logoutUrl": {},
                                                                    "redirectUris": {
                                                                        "items": {},
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Compose_JSON": {
                            "actions": {
                                "Compose_user_json": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": {
                                        "accountEnabled": "@body('Get_user_details')?['accountEnabled']",
                                        "adminRoles": "@variables('adminRoles')",
                                        "authMethodsMfa": "@body('Get_user_MFA-SSPR_status')?['value']?[0]?['authMethods']",
                                        "businessPhones": "@body('Get_user_details')?['businessPhones']?[0]",
                                        "city": "@body('Get_user_details')?['city']",
                                        "companyName": "@body('Get_user_details')?['companyName']",
                                        "country": "@body('Get_user_details')?['country']",
                                        "createdDateTime": "@body('Get_user_details')?['createdDateTime']",
                                        "department": "@body('Get_user_details')?['department']",
                                        "devices": {
                                            "aadDevices": "@variables('devices')"
                                        },
                                        "displayName": "@body('Get_user_details')?['displayName']",
                                        "employeeId": "@body('Get_user_details')?['employeeId']",
                                        "givenName": "@body('Get_user_details')?['givenName']",
                                        "id": "@body('Get_user_details')?['id']",
                                        "isMfaRegistered": "@body('Get_user_MFA-SSPR_status')?['value']?[0]?['isMfaRegistered']",
                                        "isSsprRegistered": "@body('Get_user_MFA-SSPR_status')?['value']?[0]?['isRegistered']",
                                        "jobTitle": "@body('Get_user_details')?['jobTitle']",
                                        "mail": "@body('Get_user_details')?['mail']",
                                        "mailboxInboxRules": "@variables('inboxRules')",
                                        "mailboxOofEnabled": "@outputs('Compose_mailboxOofEnabled')",
                                        "mailboxOofMessage": "@body('Get_user_OOF')?['value']?[0]?['automaticReplies']?['message']",
                                        "manager": {
                                            "displayName": "@body('Get_user_manager')?['displayName']",
                                            "id": "@body('Get_user_manager')?['id']",
                                            "jobTitle": "@body('Get_user_manager')?['jobTitle']",
                                            "mail": "@body('Get_user_manager')?['mail']",
                                            "mobilePhone": "@body('Get_user_manager')?['mobilePhone']",
                                            "userPrincipalName": "@body('Get_user_manager')?['userPrincipalName']"
                                        },
                                        "mobilePhone": "@body('Get_user_details')?['mobilePhone']",
                                        "officeLocation": "@body('Get_user_details')?['officeLocation']",
                                        "onPremisesDistinguishedName": "@body('Get_user_details')?['onPremisesDistinguishedName']",
                                        "onPremisesDomainName": "@body('Get_user_details')?['onPremisesDomainName']",
                                        "onPremisesLastSyncDateTime": "@body('Get_user_details')?['onPremisesLastSyncDateTime']",
                                        "onPremisesSamAccountName": "@body('Get_user_details')?['onPremisesSamAccountName']",
                                        "onPremisesSecurityIdentifier": "@body('Get_user_details')?['onPremisesSecurityIdentifier']",
                                        "onPremisesSyncEnabled": "@body('Get_user_details')?['onPremisesSyncEnabled']",
                                        "postalCode": "@body('Get_user_details')?['postalCode']",
                                        "preferredLanguage": "@body('Get_user_details')?['preferredLanguage']",
                                        "refreshTokensValidFromDateTime": "@body('Get_user_details')?['refreshTokensValidFromDateTime']",
                                        "riskLevel": "@body('Get_user_AAD_risk_status')?['riskLevel']",
                                        "riskState": "@body('Get_user_AAD_risk_status')?['riskState']",
                                        "riskDetail": "@body('Get_user_AAD_risk_status')?['riskDetail']",
                                        "riskLastUpdatedDateTime": "@body('Get_user_AAD_risk_status')?['riskLastUpdatedDateTime']",
                                        "ssprActivities": "@variables('ssprActivities')",
                                        "state": "@body('Get_user_details')?['state']",
                                        "streetAddress": "@body('Get_user_details')?['streetAddress']",
                                        "surname": "@body('Get_user_details')?['surname']",
                                        "userPrincipalName": "@body('Get_user_details')?['userPrincipalName']"
                                    }
                                }
                            },
                            "runAfter": {
                                "AAD_Objects": [
                                    "Succeeded"
                                ],
                                "Devices": [
                                    "Succeeded"
                                ],
                                "Mailbox": [
                                    "Succeeded"
                                ],
                                "User_changes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Devices": {
                            "actions": {
                                "For_each_device": {
                                    "foreach": "@body('Parse_user_owned_devices')?['value']",
                                    "actions": {
                                        "Append_to_devices": {
                                            "runAfter": {
                                                "Compose_device": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "devices",
                                                "value": "@outputs('Compose_device')"
                                            }
                                        },
                                        "Compose_device": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": {
                                                "Manufacturer": "@items('For_each_device')?['Manufacturer']",
                                                "Model": "@items('For_each_device')?['Model']",
                                                "accountEnabled": "@items('For_each_device')?['accountEnabled']",
                                                "approximateLastSignInDateTime": "@items('For_each_device')?['approximateLastSignInDateTime']",
                                                "complianceExpirationDateTime": "@items('For_each_device')?['complianceExpirationDateTime']",
                                                "deviceId": "@items('For_each_device')?['deviceId']",
                                                "displayName": "@items('For_each_device')?['displayName']",
                                                "id": "@items('For_each_device')?['id']",
                                                "isCompliant": "@items('For_each_device')?['isCompliant']",
                                                "isManaged": "@items('For_each_device')?['isManaged']",
                                                "onPremisesLastSyncDateTime": "@items('For_each_device')?['onPremisesLastSyncDateTime']",
                                                "onPremisesSyncEnabled": "@items('For_each_device')?['onPremisesSyncEnabled']",
                                                "operatingSystem": "@items('For_each_device')?['operatingSystem']",
                                                "operatingSystemVersion": "@items('For_each_device')?['operatingSystemVersion']",
                                                "profileType": "@items('For_each_device')?['profileType']",
                                                "trustType": "@items('For_each_device')?['trustType']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_user_owned_devices": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_user_owned_devices": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/ownedDevices "
                                    }
                                },
                                "Parse_user_owned_devices": {
                                    "runAfter": {
                                        "Get_user_owned_devices": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_owned_devices')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "@@odata.type": {},
                                                            "Manufacturer": {},
                                                            "Model": {},
                                                            "accountEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "alternativeSecurityIds": {
                                                                "items": {
                                                                    "properties": {
                                                                        "identityProvider": {},
                                                                        "key": {},
                                                                        "type": {}
                                                                    },
                                                                    "required": [],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "approximateLastSignInDateTime": {},
                                                            "complianceExpirationDateTime": {},
                                                            "deletedDateTime": {},
                                                            "deviceId": {},
                                                            "deviceMetadata": {},
                                                            "deviceVersion": {},
                                                            "displayName": {},
                                                            "id": {},
                                                            "isCompliant": {},
                                                            "isManaged": {},
                                                            "mdmAppId": {},
                                                            "onPremisesLastSyncDateTime": {},
                                                            "onPremisesSyncEnabled": {},
                                                            "operatingSystem": {},
                                                            "operatingSystemVersion": {},
                                                            "physicalIds": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "profileType": {},
                                                            "systemLabels": {
                                                                "type": "array"
                                                            },
                                                            "trustType": {}
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Group_membership": {
                            "actions": {
                                "Check_group_membership": {
                                    "runAfter": {
                                        "Groups": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": "@outputs('Groups')",
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/checkMemberGroups"
                                    }
                                },
                                "Foreach_role": {
                                    "foreach": "@body('Parse_admin_roles')?['value']",
                                    "actions": {
                                        "Append_to_adminRoles": {
                                            "runAfter": {
                                                "Compose_adminRole": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "adminRoles",
                                                "value": "@outputs('Compose_adminRole')"
                                            }
                                        },
                                        "Compose_adminRole": {
                                            "runAfter": {
                                                "Parse_role_details": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": {
                                                "description": "@body('Parse_role_details')?['description']",
                                                "displayName": "@body('Parse_role_details')?['displayName']",
                                                "id": "@body('Parse_role_details')?['id']",
                                                "isBuiltIn": "@body('Parse_role_details')?['isBuiltIn']",
                                                "isEnabled": "@body('Parse_role_details')?['isEnabled']",
                                                "resourceScopes": "@body('Parse_role_details')?['resourceScopes']"
                                            }
                                        },
                                        "Get_role_details": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://graph.microsoft.com/",
                                                    "clientId": "[parameters('servicePrincipal').clientId]",
                                                    "secret": "[parameters('servicePrincipal').clientSecret]",
                                                    "tenant": "[parameters('servicePrincipal').tenantId]",
                                                    "type": "ActiveDirectoryOAuth"
                                                },
                                                "method": "GET",
                                                "uri": "https://graph.microsoft.com/beta/roleManagement/directory/roleDefinitions/@{items('Foreach_role')?['roleDefinitionId']}"
                                            }
                                        },
                                        "Parse_role_details": {
                                            "runAfter": {
                                                "Get_role_details": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Get_role_details')",
                                                "schema": {
                                                    "properties": {
                                                        "@@odata.context": {},
                                                        "description": {},
                                                        "displayName": {},
                                                        "id": {},
                                                        "isBuiltIn": {},
                                                        "isEnabled": {},
                                                        "resourceScopes": {
                                                            "items": {},
                                                            "type": "array"
                                                        },
                                                        "version": {}
                                                    },
                                                    "type": "object"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_admin_roles": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_user_admin_roles": {
                                    "runAfter": {
                                        "Parse_Groups": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/roleManagement/directory/roleAssignments?$filter=principalId eq '@{body('Parse_user_details')?['id']}'"
                                    }
                                },
                                "Groups": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": {
                                        "groupIds": [
                                            "05795c57-70c0-4363-b55a-6ca803ecbcaa",
                                            "ac9b3596-f4bd-407e-acd3-a773bad6a156"
                                        ]
                                    }
                                },
                                "Parse_Groups": {
                                    "runAfter": {
                                        "Check_group_membership": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Check_group_membership')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {},
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_admin_roles": {
                                    "runAfter": {
                                        "Get_user_admin_roles": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_admin_roles')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {},
                                                            "principalId": {},
                                                            "resourceScope": {},
                                                            "roleDefinitionId": {}
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Mailbox": {
                            "actions": {
                                "Compose_mailboxOofEnabled": {
                                    "runAfter": {
                                        "Parse_user_OOF": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@not(empty(body('Get_user_OOF')?['value']?[0]?['automaticReplies']))"
                                },
                                "For_each_inbox_rule": {
                                    "foreach": "@body('Parse_inbox_rules')?['value']",
                                    "actions": {
                                        "If_move_to_folder": {
                                            "actions": {
                                                "Append_to_inboxRules": {
                                                    "runAfter": {
                                                        "Compose_inboxRuleUpdated": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "inboxRules",
                                                        "value": "@outputs('Compose_inboxRuleUpdated')"
                                                    }
                                                },
                                                "Compose_actions": {
                                                    "runAfter": {
                                                        "Parse_inbox_folder": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@items('For_each_inbox_rule')?['actions']"
                                                },
                                                "Compose_actionsUpdated": {
                                                    "runAfter": {
                                                        "Compose_actions": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@setProperty(outputs('Compose_actions'), 'moveToFolder', body('Get_inbox_folder')?['displayName'])"
                                                },
                                                "Compose_inboxRuleUpdated": {
                                                    "runAfter": {
                                                        "Compose_actionsUpdated": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@setProperty(items('For_each_inbox_rule'), 'actions', outputs('Compose_actionsUpdated'))"
                                                },
                                                "Get_inbox_folder": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/mailFolders/@{items('For_each_inbox_rule')?['actions']?['moveToFolder']}"
                                                    }
                                                },
                                                "Parse_inbox_folder": {
                                                    "runAfter": {
                                                        "Get_inbox_folder": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_inbox_folder')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "childFolderCount": {
                                                                    "type": "integer"
                                                                },
                                                                "displayName": {
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "parentFolderId": {
                                                                    "type": "string"
                                                                },
                                                                "totalItemCount": {
                                                                    "type": "integer"
                                                                },
                                                                "unreadItemCount": {
                                                                    "type": "integer"
                                                                },
                                                                "wellKnownName": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            },
                                            "runAfter": {},
                                            "else": {
                                                "actions": {
                                                    "Append_to_inboxRules_false": {
                                                        "runAfter": {},
                                                        "type": "AppendToArrayVariable",
                                                        "inputs": {
                                                            "name": "inboxRules",
                                                            "value": "@items('For_each_inbox_rule')"
                                                        }
                                                    }
                                                }
                                            },
                                            "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@contains(items('For_each_inbox_rule')?['actions'], 'moveToFolder')",
                                                            true
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_inbox_rules": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach",
                                    "description": "Change inbox rules \"moveToFolder\" folder id to folder \"displayName\""
                                },
                                "Get_user_OOF": {
                                    "runAfter": {
                                        "For_each_inbox_rule": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": {
                                            "EmailAddresses": [
                                                "@{body('Parse_user_details')?['mail']}"
                                            ],
                                            "MailTipsOptions": "automaticReplies"
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/getMailTips"
                                    }
                                },
                                "Get_user_inbox_rules": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/mailFolders/inbox/messageRules"
                                    }
                                },
                                "Parse_inbox_rules": {
                                    "runAfter": {
                                        "Get_user_inbox_rules": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_inbox_rules')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "actions": {
                                                                "properties": {
                                                                    "forwardTo": {
                                                                        "items": {
                                                                            "properties": {
                                                                                "emailAddress": {
                                                                                    "properties": {
                                                                                        "address": {},
                                                                                        "name": {}
                                                                                    },
                                                                                    "type": "object"
                                                                                }
                                                                            },
                                                                            "required": [],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "moveToFolder": {},
                                                                    "stopProcessingRules": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "conditions": {
                                                                "properties": {
                                                                    "bodyOrSubjectContains": {
                                                                        "items": {},
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "displayName": {},
                                                            "hasError": {},
                                                            "id": {},
                                                            "isEnabled": {},
                                                            "isReadOnly": {},
                                                            "sequence": {}
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Parse_user_OOF": {
                                    "runAfter": {
                                        "Get_user_OOF": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_OOF')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "automaticReplies": {
                                                                "properties": {
                                                                    "message": {},
                                                                    "messageLanguage": {
                                                                        "properties": {
                                                                            "displayName": {},
                                                                            "locale": {}
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "emailAddress": {
                                                                "properties": {
                                                                    "address": {},
                                                                    "name": {}
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Parse_trigger": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "userPrincipalName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Compose_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@outputs('Compose_user_json')",
                                "statusCode": 200
                            }
                        },
                        "User": {
                            "actions": {
                                "Get_user_details": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}"
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "Get_user_details": [
                                            "Failed",
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case_200_OK": {
                                            "case": 200,
                                            "actions": {
                                                "Get_user_AAD_risk_status": {
                                                    "runAfter": {
                                                        "Parse_MFA-SSPR": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/riskyUsers/@{body('Parse_user_details')?['id']}/"
                                                    }
                                                },
                                                "Get_user_MFA-SSPR_status": {
                                                    "runAfter": {
                                                        "Parse_user_manager": [
                                                            "Succeeded",
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/reports/credentialUserRegistrationDetails?$filter=userPrincipalName  eq '@{body('Parse_trigger')?['userPrincipalName']}'"
                                                    }
                                                },
                                                "Get_user_manager": {
                                                    "runAfter": {
                                                        "Parse_user_details": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_trigger')?['userPrincipalName']}/manager"
                                                    }
                                                },
                                                "Parse_MFA-SSPR": {
                                                    "runAfter": {
                                                        "Get_user_MFA-SSPR_status": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_MFA-SSPR_status')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "authMethods": {
                                                                                "items": {
                                                                                    "type": "string"
                                                                                },
                                                                                "type": "array"
                                                                            },
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "isCapable": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isEnabled": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isMfaRegistered": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "isRegistered": {
                                                                                "type": "boolean"
                                                                            },
                                                                            "userDisplayName": {
                                                                                "type": "string"
                                                                            },
                                                                            "userPrincipalName": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_user_details": {
                                                    "runAfter": {},
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_details')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "accountEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "ageGroup": {},
                                                                "businessPhones": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "city": {},
                                                                "companyName": {},
                                                                "consentProvidedForMinor": {},
                                                                "country": {},
                                                                "createdDateTime": {},
                                                                "creationType": {},
                                                                "deletedDateTime": {},
                                                                "department": {},
                                                                "deviceKeys": {
                                                                    "type": "array"
                                                                },
                                                                "displayName": {},
                                                                "employeeId": {},
                                                                "externalUserState": {},
                                                                "externalUserStateChangeDateTime": {},
                                                                "faxNumber": {},
                                                                "givenName": {},
                                                                "id": {},
                                                                "identities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "issuer": {},
                                                                            "issuerAssignedId": {},
                                                                            "signInType": {}
                                                                        },
                                                                        "required": [],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "imAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "isResourceAccount": {},
                                                                "jobTitle": {},
                                                                "legalAgeGroupClassification": {},
                                                                "mail": {},
                                                                "mailNickname": {},
                                                                "mobilePhone": {},
                                                                "officeLocation": {},
                                                                "onPremisesDistinguishedName": {},
                                                                "onPremisesDomainName": {},
                                                                "onPremisesImmutableId": {},
                                                                "onPremisesLastSyncDateTime": {},
                                                                "onPremisesSamAccountName": {},
                                                                "onPremisesSecurityIdentifier": {},
                                                                "onPremisesSyncEnabled": {},
                                                                "onPremisesUserPrincipalName": {},
                                                                "otherMails": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "passwordPolicies": {},
                                                                "passwordProfile": {},
                                                                "postalCode": {},
                                                                "preferredDataLocation": {},
                                                                "preferredLanguage": {},
                                                                "proxyAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "refreshTokensValidFromDateTime": {},
                                                                "showInAddressList": {},
                                                                "signInSessionsValidFromDateTime": {},
                                                                "state": {},
                                                                "streetAddress": {},
                                                                "surname": {},
                                                                "usageLocation": {},
                                                                "userPrincipalName": {},
                                                                "userType": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_user_manager": {
                                                    "runAfter": {
                                                        "Get_user_manager": [
                                                            "Succeeded",
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_details')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "accountEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "ageGroup": {},
                                                                "businessPhones": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "city": {},
                                                                "companyName": {},
                                                                "consentProvidedForMinor": {},
                                                                "country": {},
                                                                "createdDateTime": {},
                                                                "creationType": {},
                                                                "deletedDateTime": {},
                                                                "department": {},
                                                                "deviceKeys": {
                                                                    "type": "array"
                                                                },
                                                                "displayName": {},
                                                                "employeeId": {},
                                                                "externalUserState": {},
                                                                "externalUserStateChangeDateTime": {},
                                                                "faxNumber": {},
                                                                "givenName": {},
                                                                "id": {},
                                                                "identities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "issuer": {},
                                                                            "issuerAssignedId": {},
                                                                            "signInType": {}
                                                                        },
                                                                        "required": [],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "imAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "isResourceAccount": {},
                                                                "jobTitle": {},
                                                                "legalAgeGroupClassification": {},
                                                                "mail": {},
                                                                "mailNickname": {},
                                                                "mobilePhone": {},
                                                                "officeLocation": {},
                                                                "onPremisesDistinguishedName": {},
                                                                "onPremisesDomainName": {},
                                                                "onPremisesImmutableId": {},
                                                                "onPremisesLastSyncDateTime": {},
                                                                "onPremisesSamAccountName": {},
                                                                "onPremisesSecurityIdentifier": {},
                                                                "onPremisesSyncEnabled": {},
                                                                "onPremisesUserPrincipalName": {},
                                                                "otherMails": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "passwordPolicies": {},
                                                                "passwordProfile": {},
                                                                "postalCode": {},
                                                                "preferredDataLocation": {},
                                                                "preferredLanguage": {},
                                                                "proxyAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "refreshTokensValidFromDateTime": {},
                                                                "showInAddressList": {},
                                                                "signInSessionsValidFromDateTime": {},
                                                                "state": {},
                                                                "streetAddress": {},
                                                                "surname": {},
                                                                "usageLocation": {},
                                                                "userPrincipalName": {},
                                                                "userType": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_user_risk_status": {
                                                    "runAfter": {
                                                        "Get_user_AAD_risk_status": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_AAD_risk_status')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "id": {},
                                                                "isDeleted": {},
                                                                "isGuest": {},
                                                                "isProcessing": {},
                                                                "riskDetail": {},
                                                                "riskLastUpdatedDateTime": {},
                                                                "riskLevel": {},
                                                                "riskState": {},
                                                                "userDisplayName": {},
                                                                "userPrincipalName": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Response_user_unknown": {
                                                "runAfter": {},
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": "@body('Get_user_details')",
                                                    "statusCode": "@outputs('Get_user_details')['statusCode']"
                                                }
                                            },
                                            "Terminate": {
                                                "runAfter": {
                                                    "Response_user_unknown": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@outputs('Get_user_details')['statusCode']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Initialize_ssprActivities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "User_changes": {
                            "actions": {
                                "Foreach_SSPR_activity": {
                                    "foreach": "@body('Parse_SSPR')?['value']",
                                    "actions": {
                                        "Append_to_ssprActivities": {
                                            "runAfter": {
                                                "Compose_ssprActivity": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "ssprActivities",
                                                "value": "@outputs('Compose_ssprActivity')"
                                            }
                                        },
                                        "Compose_ssprActivity": {
                                            "runAfter": {},
                                            "type": "Compose",
                                            "inputs": {
                                                "authMethod": "@items('Foreach_SSPR_activity')?['authMethod']",
                                                "eventDateTime": "@items('Foreach_SSPR_activity')?['eventDateTime']",
                                                "failureReason": "@items('Foreach_SSPR_activity')?['failureReason']",
                                                "feature": "@items('Foreach_SSPR_activity')?['feature']",
                                                "id": "@items('Foreach_SSPR_activity')?['id']",
                                                "isSuccess": "@items('Foreach_SSPR_activity')?['isSuccess']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_SSPR": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Get_user_password_reset_activities": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/reports/userCredentialUsageDetails?$filter=userPrincipalName  eq '@{body('Parse_trigger')?['userPrincipalName']}'"
                                    }
                                },
                                "Parse_SSPR": {
                                    "runAfter": {
                                        "Get_user_password_reset_activities": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_user_password_reset_activities')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "authMethod": {},
                                                            "eventDateTime": {},
                                                            "failureReason": {},
                                                            "feature": {},
                                                            "id": {},
                                                            "isSuccess": {
                                                                "type": "boolean"
                                                            },
                                                            "userDisplayName": {},
                                                            "userPrincipalName": {}
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Group_membership": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                }
            }
        }
    ],
	"outputs": {
        
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]"
        }
    }
}