McasAlertsInvestigations/ImpossibleTravel/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.1",
    "parameters": {
        "logicAppName": {
            "defaultValue": "ImpossibleTravel_Triage_Sentinel",
            "type": "String",
            "metadata": {
                "description": "Name of the logic app."
            }
        },
        "servicePrincipal": {
            "type": "secureObject"
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Location of the logic app."
            }
        },
        "mcasAPI": {
            "type": "secureobject"
        },
        "azuresentinel_Connection_Name": {
            "defaultValue": "azuresentinel",
            "type": "String",
            "metadata": {
                "description": "Azure Sentinel connection"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('azuresentinel_Connection_Name')]",
            "location": "[parameters('location')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azuresentinel')]"
                },
                "displayName": "[parameters('azuresentinel_Connection_Name')]"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[parameters('azuresentinel_Connection_Name')]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "servicePrincipal": {
                            "type": "secureobject",
                            "defaultValue": "[parameters('servicePrincipal')]"
                        },
                        "mcasAPI": {
                            "defaultValue": "[parameters('mcasAPI')]",
                            "type": "secureobject"
                        },
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    },
                    "actions": {
                        "Initialize_userAccountId": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "userAccountId",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Initialize_userDetails": {
                            "description": "Will contain the details returned by UserEnrichment logic app",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "userDetails",
                                        "type": "object"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_userAccountId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_enrichedIPsList": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "enrichedIPsList",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_userDetails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_ipsList": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ipsList",
                                        "type": "array"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_enrichedIPsList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Entities_parsing": {
                            "actions": {
                                "Append_every_IP": {
                                    "actions": {
                                        "Append_to_ipsList": {
                                            "inputs": {
                                                "name": "ipsList",
                                                "value": "@items('Append_every_IP')?['Address']"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable"
                                        }
                                    },
                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                    "runAfter": {
                                        "Entities_-_Get_IPs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Entities_-_Get_Accounts": {
                                    "inputs": {
                                        "body": "@triggerBody()?['Entities']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/entities/account"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                },
                                "Entities_-_Get_IPs": {
                                    "inputs": {
                                        "body": "@triggerBody()?['Entities']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/entities/ip"
                                    },
                                    "runAfter": {
                                        "Extract_alertId": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Extract_alertId": {
                                    "inputs": "@last(split(body('Get_alertLink')[0]['Href'], '/'))",
                                    "runAfter": {
                                        "Get_alertLink": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Get_alertLink": {
                                    "inputs": {
                                        "from": "@triggerBody()?['ExtendedLinks']",
                                        "where": "@contains(item()['Label'], 'alert')"
                                    },
                                    "runAfter": {
                                        "Set_userAccountId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Query"
                                },
                                "Set_userAccountId": {
                                    "inputs": {
                                        "name": "userAccountId",
                                        "value": "@{body('Entities_-_Get_Accounts')?['Accounts']?[0]?['AadUserId']}"
                                    },
                                    "runAfter": {
                                        "Entities_-_Get_Accounts": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "runAfter": {
                                "Initialize_ipsList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "User_enrichment": {
                            "actions": {
                                "Set_userEnrichment": {
                                    "inputs": {
                                        "name": "userDetails",
                                        "value": "@body('UserEnrichment')"
                                    },
                                    "runAfter": {
                                        "UserEnrichment": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                },
                                "UserEnrichment": {
                                    "inputs": {
                                        "body": {
                                            "userPrincipalName": "@variables('userAccountId')"
                                        },
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                "id": "/subscriptions/eb82f6b8-8ada-41e6-9b15-66377e0af70f/resourceGroups/Soc/providers/Microsoft.Logic/workflows/UserEnrichment"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Workflow"
                                }
                            },
                            "runAfter": {
                                "Entities_parsing": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "IPs_enrichment": {
                            "actions": {
                                "IPsEnrichment": {
                                    "inputs": {
                                        "body": {
                                            "ipAddresses": "@variables('ipsList')",
                                            "samAccountName": "@{if(empty(variables('userDetails')?['onPremisesSamAccountName']), split(variables('userDetails')?['userPrincipalName'], '@')?[0], variables('userDetails')?['onPremisesSamAccountName'])}",
                                            "userPrincipalName": "@{variables('userDetails')?['userPrincipalName']}"
                                        },
                                        "host": {
                                            "triggerName": "manual",
                                            "workflow": {
                                                "id": "/subscriptions/eb82f6b8-8ada-41e6-9b15-66377e0af70f/resourceGroups/Soc/providers/Microsoft.Logic/workflows/IPsEnrichment"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Workflow"
                                },
                                "Set_enrichedIPsList": {
                                    "inputs": {
                                        "name": "enrichedIPsList",
                                        "value": "@body('IPsEnrichment')"
                                    },
                                    "runAfter": {
                                        "IPsEnrichment": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "runAfter": {
                                "User_enrichment": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Compose_comment": {
                            "actions": {
                                "IPs_table": {
                                    "inputs": {
                                        "columns": [
                                            {
                                                "header": "CorpIPs",
                                                "value": "@item()?['corpIPs']"
                                            },
                                            {
                                                "header": "CloudIPs",
                                                "value": "@item()?['cloudIPs']"
                                            },
                                            {
                                                "header": "RiskyIPs",
                                                "value": "@item()?['riskyIPs']"
                                            },
                                            {
                                                "header": "DevicesIPs",
                                                "value": "@item()?['devicesIPs']"
                                            },
                                            {
                                                "header": "OtherIPs",
                                                "value": "@item()?['otherIPs']"
                                            },
                                            {
                                                "header": "NotFoundIPs",
                                                "value": "@item()?['notFound']"
                                            }
                                        ],
                                        "format": "HTML",
                                        "from": "@variables('enrichedIPsList')"
                                    },
                                    "runAfter": {},
                                    "type": "Table"
                                },
                                "MDATP_devices_table": {
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('enrichedIPsList')?[0]?['devices']"
                                    },
                                    "runAfter": {
                                        "IPs_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table"
                                }
                            },
                            "runAfter": {
                                "IPs_enrichment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Triage_logic": {
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Add_comment_to_incident_closed": {
                                            "inputs": {
                                                "body": {
                                                    "Value": "Alert resolved using automation\n@{replace(body('IPs_table'), '&quot;', '\"')}\n\n@{replace(body('MDATP_devices_table'), '&quot;', '\"')}\n\n"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                            },
                                            "runAfter": {
                                                "Close_incident": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Close_incident": {
                                            "inputs": {
                                                "body": {
                                                    "CloseReason": "FalsePositive"
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Case/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/Status/@{encodeURIComponent('Closed')}"
                                            },
                                            "runAfter": {
                                                "Resolve_Cloud_App_Security_alert": [
                                                    "Succeeded",
                                                    "Failed"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "Resolve_Cloud_App_Security_alert": {
                                            "inputs": {
                                                "body": {
                                                    "comment": "Resolved using Logic App IP triage",
                                                    "filters": {
                                                        "id": {
                                                            "eq": [
                                                                "@{outputs('Extract_alertId')}"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "headers": {
                                                    "Authorization": "token QhwZGlccGhceFxcBSlodAV9AXVtOQwFMQ0BaS05fX1xKTFpdRltWAUxAQlNLH0kcTEwXTkweGhZLHB1OGBtOHU0ZHRYYGBhKTh9MFk0WFk5MFhgaFhtMHR0XSxlKTB0bGx1KGx4ZHh8fGx0Y"
                                                },
                                                "method": "POST",
                                                "uri": "https://m365x358188.eu2.portal.cloudappsecurity.com/cas/api/v1/alerts/resolve/"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        }
                                    },
                                    "description": "If IPs are not unknown or risky, and the user is not at high risk, close the alert",
                                    "else": {
                                        "actions": {
                                            "Add_comment_to_incident_open": {
                                                "inputs": {
                                                    "body": {
                                                        "Value": "Incident contains risky or unknown IPs\n\n@{replace(body('IPs_table'), '&quot;', '\"')}\n\n@{replace(body('MDATP_devices_table'), '&quot;', '\"')}\n"
                                                    },
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Alert')}/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@empty(variables('enrichedIPsList')?[0]?['otherIPs'])",
                                                    "@true"
                                                ]
                                            },
                                            {
                                                "equals": [
                                                    "@empty(variables('enrichedIPsList')?[0]?['riskyIPs'])",
                                                    "@true"
                                                ]
                                            },
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@variables('userDetails')?['riskLevel']",
                                                        "high"
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "runAfter": {},
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Compose_comment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azuresentinel_Connection_Name'))]",
                                "connectionName": "[parameters('azuresentinel_Connection_Name')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/', 'azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }

    ],
    "outputs": {

        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/When_a_response_to_an_Azure_Sentinel_alert_is_triggered'), '2016-06-01').value]"
        }
    }
}