OAuthAppsReporting/OAuthApps-Reporting.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "defaultValue": "OAuthApps-Reporting",
            "type": "String"
        },
        "logAnalytics_connectionName": {
            "type": "String",
            "defaultValue": "azureloganalyticsdatacollector",
            "metadata": {
                "description": "Log analytics API connection name"
            }
        },
        "logAnalytics_id": {
            "type": "String",
            "defaultValue": "[concat('subscriptions/', subscription().subscriptionId,  '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/', parameters('logAnalytics_connectionName'))]",
            "metadata": {
                "description": "Log analytics id property"
            }
        },
        "logAnalytics_connectionId": {
            "type": "String",
            "defaultValue": "[concat('subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Web/connections/', parameters('logAnalytics_connectionName'))]",
            "metadata": {
                "description": "Log analytics connection id property"
            }
        },
        "location": {
            "type": "string",
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location for Logic App resources"
            }
        },
        "tenantId": {
            "type": "string",
            "defaultValue": "[subscription().tenantId]"
        },
        "clientId": {
            "type": "securestring", 
            "defaultValue": "my_clientId"
        },
        "secret": {
            "type": "securestring"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "name": "[parameters('logAnalytics_connectionName')]",
            "properties": {
                "api": {
                    "id": "[parameters('logAnalytics_id')]"
                },
                "displayName": "[parameters('logAnalytics_connectionName')]",
                "parameterValues": {

                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "tags": {
                "Owner": "semolend"
            },
            "dependsOn": [
                "[parameters('logAnalytics_connectionName')]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {}
                            }
                        }
                    },
                    "actions": {
                        "Compose_JSON": {
                            "runAfter": {
                                "For_each_enterprise_app": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@variables('enterpriseApps')"
                        },
                        "For_each_enterprise_app": {
                            "foreach": "@variables('graphApps')",
                            "actions": {
                                "Append_to_enterpriseApps": {
                                    "runAfter": {
                                        "Compose_app_details": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "enterpriseApps",
                                        "value": "@outputs('Compose_app_details')"
                                    }
                                },
                                "Compose_app_details": {
                                    "runAfter": {
                                        "Get_enterprise_app_users": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "accountEnabled": "@items('For_each_enterprise_app')?['accountEnabled']",
                                        "alternativeNames": "@items('For_each_enterprise_app')?['alternativeNames']",
                                        "appDescription": "@items('For_each_enterprise_app')?['appDescription']",
                                        "appDisplayName": "@items('For_each_enterprise_app')?['appDisplayName']",
                                        "appId": "@items('For_each_enterprise_app')?['appId']",
                                        "appIsForeign": "@not(equals(items('For_each_enterprise_app')?['appOwnerOrganizationId'], variables('tenantId')))",
                                        "appRoleAssignmentsPermissions": "@body('Get_enterprise_appRoleAssignments_permissions')?['value']",
                                        "appOwnerOrganizationId": "@items('For_each_enterprise_app')?['appOwnerOrganizationId']",
                                        "appPublisherIsVerified": "@not(equals(items('For_each_enterprise_app')?['verifiedPublisher']?['verifiedPublisherId'], null))",
                                        "appRoleAssignmentRequired": "@items('For_each_enterprise_app')?['appRoleAssignmentRequired']",
                                        "deletedDateTime": "@items('For_each_enterprise_app')?['deletedDateTime']",
                                        "description": "@items('For_each_enterprise_app')?['description']",
                                        "displayName": "@items('For_each_enterprise_app')?['displayName']",
                                        "errorUrl": "@items('For_each_enterprise_app')?['errorUrl']",
                                        "homepage": "@items('For_each_enterprise_app')?['homepage']",
                                        "id": "@items('For_each_enterprise_app')?['id']",
                                        "info": "@items('For_each_enterprise_app')?['info']",
                                        "isAuthorizationServiceEnabled": "@items('For_each_enterprise_app')?['isAuthorizationServiceEnabled']",
                                        "loginUrl": "@items('For_each_enterprise_app')?['loginUrl']",
                                        "logoutUrl": "@items('For_each_enterprise_app')?['logoutUrl']",
                                        "notes": "@items('For_each_enterprise_app')?['notes']",
                                        "notificationEmailAddresses": "@items('For_each_enterprise_app')?['notificationEmailAddresses']",
                                        "permissions" : "permissions",
                                        "permissionsLevel" : "High",
                                        "publisherName": "@items('For_each_enterprise_app')?['publisherName']",
                                        "replyUrls": "@items('For_each_enterprise_app')?['replyUrls']",
                                        "servicePrincipalNames": "@items('For_each_enterprise_app')?['servicePrincipalNames']",
                                        "servicePrincipalType": "@items('For_each_enterprise_app')?['servicePrincipalType']",
                                        "signInAudience": "@items('For_each_enterprise_app')?['signInAudience']",
                                        "tags": "@items('For_each_enterprise_app')?['tags']",
                                        "userDelegatedPermissions": "@body('Get_enterprise_oauth2PermissionGrants_permissions')?['value']",
                                        "users": "@body('Get_enterprise_app_users')?['value']",
                                        "verifiedPublisher": "@items('For_each_enterprise_app')?['verifiedPublisher']"
                                    }
                                },
                                "Get_enterprise_appRoleAssignments_permissions": {
                                    "description": "Get application level granted permissions",
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('clientId')]",
                                            "secret": "[parameters('secret')]",
                                            "tenant": "[parameters('tenantId')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/servicePrincipals/@{items('For_each_enterprise_app')?['id']}/appRoleAssignments"
                                    }
                                },
                                "Get_enterprise_oauth2PermissionGrants_permissions": {
                                    "description": "Get user level delegated permissions",
                                    "runAfter": {
                                        
                                        "Get_enterprise_appRoleAssignments_permissions": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('clientId')]",
                                            "secret": "[parameters('secret')]",
                                            "tenant": "[parameters('tenantId')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/servicePrincipals/@{items('For_each_enterprise_app')?['id']}/oauth2PermissionGrants"
                                    }
                                },
                                "Get_enterprise_app_users": {
                                    "runAfter": {
                                        "Get_enterprise_oauth2PermissionGrants_permissions": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('clientId')]",
                                            "secret": "[parameters('secret')]",
                                            "tenant": "[parameters('tenantId')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/servicePrincipals/@{items('For_each_enterprise_app')?['id']}/appRoleAssignedTo"
                                    }
                                }
                            },
                            "runAfter": {
                                "Do_Until_allApps_collected": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_enterpriseApps": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "enterpriseApps",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_graphApps": {
                            "runAfter": {
                                "Initialize_enterpriseApps": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "graphApps",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Initialize_tenantID": {
                            "runAfter": {
                                "Initialize_graphApps": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "tenantId",
                                        "type": "string",
                                        "value": "[parameters('tenantId')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_graphQuery": {
                            "runAfter": {
                                "Initialize_tenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "graphQuery",
                                        "type": "string",
                                        "value": "https://graph.microsoft.com/beta/servicePrincipals"
                                    }
                                ]
                            }
                        },
                        "Scope_Get_APIs_permissions": {
                            "actions": {
                                "Get_Graph_permissions": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('clientId')]",
                                            "secret": "[parameters('secret')]",
                                            "tenant": "[parameters('tenantId')]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/servicePrincipals/f9d938f5-d874-41cd-b8bc-482617434b3d?$select=oauth2PermissionScopes,appRoles"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                },
                                "Join_permissions": {
                                    "description": "Collect all possible permissions for the Graph api - oauth2PermissionScopes,appRoles properties",
                                    "inputs": "@union(body('Get_Graph_permissions')?['oauth2PermissionScopes'], body('Get_Graph_permissions')?['appRoles'])",
                                    "runAfter": {
                                        "Get_Graph_permissions": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                }
                            },
                            "runAfter": {
                                "Initialize_graphQuery": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Do_Until_allApps_collected": {
                            "actions": {
                                "Get_enterprise_applications": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "2c51cdd9-691e-438e-a136-81d806485b36",
                                            "secret": "0ly7v+-]v-UHboj4D1g:s2+6bZ:cX.p.",
                                            "tenant": "4b2462a4-bbee-495a-a0e1-f23ae524cc9c",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "queries": {
                                            "$filter": "tags/any(t:t eq 'WindowsAzureActiveDirectoryIntegratedApp')"
                                        },
                                        "uri": "@variables('graphQuery')"
                                    }
                                },
                                "Join_apps_with_graphApps": {
                                    "runAfter": {
                                        "Set_graphQuery": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": "@union(variables('graphApps'), body('Parse_enterprise_apps')?['value'])",
                                    "description": "union(variables('graphApps'), body('Parse_enterprise_apps')?['value'])"
                                },
                                "Parse_enterprise_apps": {
                                    "runAfter": {
                                        "Get_enterprise_applications": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_enterprise_applications')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {},
                                                "@@odata.nextLink": {},
                                                "value": {
                                                    "items": {
                                                        "properties": {
                                                            "accountEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "addIns": {
                                                                "type": "array"
                                                            },
                                                            "alternativeNames": {
                                                                "type": "array"
                                                            },
                                                            "api": {
                                                                "properties": {
                                                                    "resourceSpecificApplicationPermissions": {
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "appDescription": {},
                                                            "appDisplayName": {},
                                                            "appId": {},
                                                            "appOwnerOrganizationId": {},
                                                            "appRoleAssignmentRequired": {
                                                                "type": "boolean"
                                                            },
                                                            "appRoles": {
                                                                "type": "array"
                                                            },
                                                            "applicationTemplateId": {},
                                                            "deletedDateTime": {},
                                                            "description": {},
                                                            "displayName": {},
                                                            "errorUrl": {},
                                                            "homepage": {},
                                                            "id": {},
                                                            "info": {
                                                                "properties": {
                                                                    "logoUrl": {},
                                                                    "marketingUrl": {},
                                                                    "privacyStatementUrl": {},
                                                                    "supportUrl": {},
                                                                    "termsOfServiceUrl": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "isAuthorizationServiceEnabled": {
                                                                "type": "boolean"
                                                            },
                                                            "keyCredentials": {
                                                                "type": "array"
                                                            },
                                                            "loginUrl": {},
                                                            "logoutUrl": {},
                                                            "notes": {},
                                                            "notificationEmailAddresses": {
                                                                "type": "array"
                                                            },
                                                            "passwordCredentials": {
                                                                "type": "array"
                                                            },
                                                            "preferredSingleSignOnMode": {},
                                                            "preferredTokenSigningKeyEndDateTime": {},
                                                            "preferredTokenSigningKeyThumbprint": {},
                                                            "publishedPermissionScopes": {
                                                                "items": {
                                                                    "properties": {
                                                                        "adminConsentDescription": {},
                                                                        "adminConsentDisplayName": {},
                                                                        "id": {},
                                                                        "isEnabled": {
                                                                            "type": "boolean"
                                                                        },
                                                                        "type": {},
                                                                        "userConsentDescription": {},
                                                                        "userConsentDisplayName": {},
                                                                        "value": {}
                                                                    },
                                                                    "required": [],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "publisherName": {},
                                                            "replyUrls": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "samlMetadataUrl": {},
                                                            "samlSingleSignOnSettings": {},
                                                            "servicePrincipalNames": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "servicePrincipalType": {},
                                                            "signInAudience": {},
                                                            "tags": {
                                                                "items": {},
                                                                "type": "array"
                                                            },
                                                            "tokenEncryptionKeyId": {},
                                                            "verifiedPublisher": {
                                                                "properties": {
                                                                    "addedDateTime": {},
                                                                    "displayName": {},
                                                                    "verifiedPublisherId": {}
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "required": [],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "Set_graphApps": {
                                    "runAfter": {
                                        "Join_apps_with_graphApps": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "graphApps",
                                        "value": "@outputs('Join_apps_with_graphApps')"
                                    }
                                },
                                "Set_graphQuery": {
                                    "runAfter": {
                                        "Parse_enterprise_apps": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "graphQuery",
                                        "value": "@{body('Parse_enterprise_apps')?['@odata.nextLink']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_Get_APIs_permissions": [
                                    "Succeeded"
                                ]
                            },
                            "expression": "@equals(body('Parse_enterprise_apps')?['@odata.nextLink'], null)",
                            "limit": {
                                "count": 60,
                                "timeout": "PT1H"
                            },
                            "type": "Until"
                        },
                        "Response": {
                            "runAfter": {
                                "Compose_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@variables('enterpriseApps')",
                                "statusCode": 200
                            }
                        },
                        "Send_Data_to_Log_Analytics": {
                            "runAfter": {
                                "Compose_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{outputs('Compose_JSON')}",
                                "headers": {
                                    "Log-Type": "OAuthApps"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/logs"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[parameters('logAnalytics_connectionId')]",
                                "connectionName": "[parameters('logAnalytics_connectionName')]",
                                "id": "[parameters('logAnalytics_id')]"
                            }
                        }
                    }
                }
            }
        }
    ]
} 