McasAlertsInvestigations/InfrequentCountry/InfrequentCountryTriage.template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.1",
    "parameters": {
        "logicAppName": {
            "defaultValue": "InfrequentCountryTriage",
            "type": "String",
            "metadata": {
                "description": "Name of the logic app."
            }
        },
        "servicePrincipal": {
            "type": "secureObject"
        },
        "location": {
            "defaultValue": "[resourceGroup().location]",
            "type": "String",
            "metadata": {
                "description": "Location of the logic app."
            }
        },
        "mcasAPI": {
            "type": "secureobject"
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[parameters('location')]",
            "dependsOn": [],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "servicePrincipal": {
                            "type": "secureobject",
                            "defaultValue": "[parameters('servicePrincipal')]"
                        },
                        "mcasAPI": {
                            "defaultValue": "[parameters('mcasAPI')]",
                            "type": "secureobject"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "$id": {},
                                        "AlertDisplayName": {
                                            "type": "string"
                                        },
                                        "AlertDisplayNameLocalizedKey": {},
                                        "AlertType": {
                                            "type": "string"
                                        },
                                        "AzureResourceId": {},
                                        "CompromisedEntity": {
                                            "type": "string"
                                        },
                                        "CorrelationKey": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "DescriptionArguments": {},
                                        "DescriptionLocalizedKey": {},
                                        "EndTimeUtc": {
                                            "type": "string"
                                        },
                                        "Metadata": {
                                            "properties": {
                                                "Component": {
                                                    "type": "string"
                                                },
                                                "ComponentVersion": {
                                                    "type": "string"
                                                },
                                                "DuplicateAlertsContextId": {
                                                    "type": "string"
                                                },
                                                "MCASAlertCategory": {
                                                    "type": "string"
                                                },
                                                "MCASDC": {
                                                    "type": "string"
                                                },
                                                "MCASPolicySubType": {},
                                                "MCASPolicyType": {
                                                    "type": "string"
                                                },
                                                "MCASTenantId": {
                                                    "type": "string"
                                                },
                                                "RequestId": {},
                                                "RequestIds": {
                                                    "type": "string"
                                                },
                                                "SuspiciousIps": {
                                                    "type": "string"
                                                },
                                                "TenantId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "ProviderAlertId": {
                                            "type": "string"
                                        },
                                        "ProviderAlertStatus": {},
                                        "ProviderName": {
                                            "type": "string"
                                        },
                                        "RemediationSteps": {},
                                        "Severity": {
                                            "type": "string"
                                        },
                                        "StartTimeUtc": {
                                            "type": "string"
                                        },
                                        "Status": {
                                            "type": "string"
                                        },
                                        "TimeGenerated": {
                                            "type": "string"
                                        },
                                        "VendorName": {
                                            "type": "string"
                                        },
                                        "Version": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    },
                    "actions": {
                        "Parse_alert": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "$id": {},
                                        "AlertDisplayName": {
                                            "type": "string"
                                        },
                                        "AlertDisplayNameLocalizedKey": {},
                                        "AlertType": {
                                            "type": "string"
                                        },
                                        "AzureResourceId": {},
                                        "CompromisedEntity": {
                                            "type": "string"
                                        },
                                        "CorrelationKey": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "DescriptionArguments": {},
                                        "DescriptionLocalizedKey": {},
                                        "EndTimeUtc": {
                                            "type": "string"
                                        },
                                        "Metadata": {
                                            "properties": {
                                                "Component": {
                                                    "type": "string"
                                                },
                                                "ComponentVersion": {
                                                    "type": "string"
                                                },
                                                "DuplicateAlertsContextId": {
                                                    "type": "string"
                                                },
                                                "MCASAlertCategory": {
                                                    "type": "string"
                                                },
                                                "MCASDC": {
                                                    "type": "string"
                                                },
                                                "MCASPolicySubType": {},
                                                "MCASPolicyType": {
                                                    "type": "string"
                                                },
                                                "MCASTenantId": {
                                                    "type": "string"
                                                },
                                                "RequestId": {},
                                                "RequestIds": {
                                                    "type": "string"
                                                },
                                                "SuspiciousIps": {
                                                    "type": "string"
                                                },
                                                "TenantId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "ProviderAlertId": {
                                            "type": "string"
                                        },
                                        "ProviderAlertStatus": {},
                                        "ProviderName": {
                                            "type": "string"
                                        },
                                        "RemediationSteps": {},
                                        "Severity": {
                                            "type": "string"
                                        },
                                        "StartTimeUtc": {
                                            "type": "string"
                                        },
                                        "Status": {
                                            "type": "string"
                                        },
                                        "TimeGenerated": {
                                            "type": "string"
                                        },
                                        "VendorName": {
                                            "type": "string"
                                        },
                                        "Version": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Initialize_response": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "response",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_alert": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "User": {
                            "actions": {
                                "Get_user_details": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_alert')?['CompromisedEntity']}"
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "Get_user_details": [
                                            "Failed",
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case_200_OK": {
                                            "case": 200,
                                            "actions": {
                                                "Get_user_AAD_risk_status": {
                                                    "runAfter": {
                                                        "Parse_user_manager": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/riskyUsers/@{body('Parse_user_details')?['id']}/"
                                                    }
                                                },                                                
                                                "Get_user_manager": {
                                                    "runAfter": {
                                                        "Parse_user_details": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com/",
                                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "method": "GET",
                                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_user_details')?['userPrincipalName']}/manager"
                                                    }
                                                },
                                                "Parse_user_details": {
                                                    "runAfter": {},
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_details')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "accountEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "ageGroup": {},
                                                                "businessPhones": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "city": {},
                                                                "companyName": {},
                                                                "consentProvidedForMinor": {},
                                                                "country": {},
                                                                "createdDateTime": {},
                                                                "creationType": {},
                                                                "deletedDateTime": {},
                                                                "department": {},
                                                                "deviceKeys": {
                                                                    "type": "array"
                                                                },
                                                                "displayName": {},
                                                                "employeeId": {},
                                                                "externalUserState": {},
                                                                "externalUserStateChangeDateTime": {},
                                                                "faxNumber": {},
                                                                "givenName": {},
                                                                "id": {},
                                                                "identities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "issuer": {},
                                                                            "issuerAssignedId": {},
                                                                            "signInType": {}
                                                                        },
                                                                        "required": [],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "imAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "isResourceAccount": {},
                                                                "jobTitle": {},
                                                                "legalAgeGroupClassification": {},
                                                                "mail": {},
                                                                "mailNickname": {},
                                                                "mobilePhone": {},
                                                                "officeLocation": {},
                                                                "onPremisesDistinguishedName": {},
                                                                "onPremisesDomainName": {},
                                                                "onPremisesImmutableId": {},
                                                                "onPremisesLastSyncDateTime": {},
                                                                "onPremisesSamAccountName": {},
                                                                "onPremisesSecurityIdentifier": {},
                                                                "onPremisesSyncEnabled": {},
                                                                "onPremisesUserPrincipalName": {},
                                                                "otherMails": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "passwordPolicies": {},
                                                                "passwordProfile": {},
                                                                "postalCode": {},
                                                                "preferredDataLocation": {},
                                                                "preferredLanguage": {},
                                                                "proxyAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "refreshTokensValidFromDateTime": {},
                                                                "showInAddressList": {},
                                                                "signInSessionsValidFromDateTime": {},
                                                                "state": {},
                                                                "streetAddress": {},
                                                                "surname": {},
                                                                "usageLocation": {},
                                                                "userPrincipalName": {},
                                                                "userType": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_user_manager": {
                                                    "runAfter": {
                                                        "Get_user_manager": [
                                                            "Succeeded",
                                                            "Failed"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_details')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "accountEnabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "ageGroup": {},
                                                                "businessPhones": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "city": {},
                                                                "companyName": {},
                                                                "consentProvidedForMinor": {},
                                                                "country": {},
                                                                "createdDateTime": {},
                                                                "creationType": {},
                                                                "deletedDateTime": {},
                                                                "department": {},
                                                                "deviceKeys": {
                                                                    "type": "array"
                                                                },
                                                                "displayName": {},
                                                                "employeeId": {},
                                                                "externalUserState": {},
                                                                "externalUserStateChangeDateTime": {},
                                                                "faxNumber": {},
                                                                "givenName": {},
                                                                "id": {},
                                                                "identities": {
                                                                    "items": {
                                                                        "properties": {
                                                                            "issuer": {},
                                                                            "issuerAssignedId": {},
                                                                            "signInType": {}
                                                                        },
                                                                        "required": [],
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "imAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "isResourceAccount": {},
                                                                "jobTitle": {},
                                                                "legalAgeGroupClassification": {},
                                                                "mail": {},
                                                                "mailNickname": {},
                                                                "mobilePhone": {},
                                                                "officeLocation": {},
                                                                "onPremisesDistinguishedName": {},
                                                                "onPremisesDomainName": {},
                                                                "onPremisesImmutableId": {},
                                                                "onPremisesLastSyncDateTime": {},
                                                                "onPremisesSamAccountName": {},
                                                                "onPremisesSecurityIdentifier": {},
                                                                "onPremisesSyncEnabled": {},
                                                                "onPremisesUserPrincipalName": {},
                                                                "otherMails": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "passwordPolicies": {},
                                                                "passwordProfile": {},
                                                                "postalCode": {},
                                                                "preferredDataLocation": {},
                                                                "preferredLanguage": {},
                                                                "proxyAddresses": {
                                                                    "items": {},
                                                                    "type": "array"
                                                                },
                                                                "refreshTokensValidFromDateTime": {},
                                                                "showInAddressList": {},
                                                                "signInSessionsValidFromDateTime": {},
                                                                "state": {},
                                                                "streetAddress": {},
                                                                "surname": {},
                                                                "usageLocation": {},
                                                                "userPrincipalName": {},
                                                                "userType": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "Parse_user_risk_status": {
                                                    "runAfter": {
                                                        "Get_user_AAD_risk_status": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ParseJson",
                                                    "inputs": {
                                                        "content": "@body('Get_user_AAD_risk_status')",
                                                        "schema": {
                                                            "properties": {
                                                                "@@odata.context": {},
                                                                "id": {},
                                                                "isDeleted": {},
                                                                "isGuest": {},
                                                                "isProcessing": {},
                                                                "riskDetail": {},
                                                                "riskLastUpdatedDateTime": {},
                                                                "riskLevel": {},
                                                                "riskState": {},
                                                                "userDisplayName": {},
                                                                "userPrincipalName": {}
                                                            },
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Response_user_unknown": {
                                                "runAfter": {},
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": "@body('Get_user_details')",
                                                    "statusCode": "@outputs('Get_user_details')['statusCode']"
                                                }
                                            },
                                            "Terminate": {
                                                "runAfter": {
                                                    "Response_user_unknown": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Terminate",
                                                "inputs": {
                                                    "runStatus": "Succeeded"
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@outputs('Get_user_details')['statusCode']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Initialize_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Get_user_OOF": {
                            "runAfter": {
                                "User": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com/",
                                    "clientId": "[parameters('servicePrincipal').clientId]",
                                    "secret": "[parameters('servicePrincipal').clientSecret]",
                                    "tenant": "[parameters('servicePrincipal').tenantId]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "body": {
                                    "EmailAddresses": [
                                        "@{body('Parse_user_details')?['mail']}"
                                    ],
                                    "MailTipsOptions": "automaticReplies"
                                },
                                "method": "POST",
                                "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_user_details')?['userPrincipalName']}/getMailTips"
                            }
                        },
                        "Group_membership": {
                            "actions": {
                                "Groups": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "description": "Define here the sensitive groups AAD object IDs to exclude of auto-resolution when OOF is on",
                                    "inputs": {
                                        "groupIds": [
                                            "05795c57-70c0-4363-b55a-6ca803ec0000",
                                            "ac9b3596-f4bd-407e-acd3-a773bad60000"
                                        ]
                                    }
                                },
                                "Check_group_membership": {
                                    "runAfter": {
                                        "Groups": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com/",
                                            "clientId": "[parameters('servicePrincipal').clientId]",
                                            "secret": "[parameters('servicePrincipal').clientSecret]",
                                            "tenant": "[parameters('servicePrincipal').tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "body": "@outputs('Groups')",
                                        "headers": {
                                            "Content-Type": "application/json"
                                        },
                                        "method": "POST",
                                        "uri": "https://graph.microsoft.com/beta/users/@{body('Parse_user_details')?['userPrincipalName']}/checkMemberGroups"
                                    }
                                },
                                "Parse_Groups": {
                                    "runAfter": {
                                        "Check_group_membership": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Check_group_membership')",
                                        "schema": {
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "items": {},
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_user_OOF": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        },
                        "Condition": {
                            "actions": {
                                "Resolve_Cloud_App_Security_alert": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "filters": {
                                                "id": {
                                                    "eq": [
                                                        "@body('Parse_alert')?['ProviderAlertId']"
                                                    ]
                                                }
                                            },
                                            "comment": "Resolved using Microsoft Flow - user OOF is 'ON', and is not part of the 'Exec' group"
                                        },
                                        "headers": {
                                            "Authorization": "[concat('token ',parameters('mcasAPI').apiToken)]"
                                        },
                                        "method": "POST",
                                        "uri": "[concat(parameters('mcasAPI').tenantUrl, '/cas/api/v1/alerts/resolve/')]"
                                    }
                                    
                                },
                                "Alert_resolved": {
                                    "inputs": {
                                        "name": "response",
                                        "value": "Alert resolved"
                                    },
                                    "runAfter": {
                                        "Resolve_Cloud_App_Security_alert": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Alert_not_resolved": {
                                        "inputs": {
                                            "name": "response",
                                            "value": "Alert not resolved"
                                        },
                                        "runAfter": {},
                                        "type": "SetVariable"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@empty(body('Get_user_OOF')?['value']?[0]?['AutomaticReplies']?['Message'])",
                                            "@false"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@empty(body('Check_group_membership')?['value'])",
                                            "@true"
                                        ]
                                    },
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Parse_user_risk_status')?['riskLevel']",
                                                "High"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "runAfter": {
                                "Group_membership": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If",
                            "description": "If user OOF is turned on and the user is not part of the sensitive groups"
                        },
                        "Response": {
                            "inputs": {
                                "body": "@variables('response')",
                                "statusCode": 200
                            },
                            "kind": "http",
                            "runAfter": {
                                "Condition": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        }
                        
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
        
    ],
    "outputs": {
        
        "logicAppUrl": {
            "type": "string",
            "value": "[listCallbackURL(concat(resourceId('Microsoft.Logic/workflows/', parameters('logicAppName')), '/triggers/manual'), '2016-06-01').value]"
        }
    }
}